/*Torres Digital IP Location*/
#informacoes {
    box-shadow: 0px 10px 35px 0px rgba(47,47,47,0.1);
    box-sizing: border-box;
    position: relative;
    transition: all 200ms linear;
    padding: 30px;
    margin: 40px auto;
    width: 100%;
    max-width: 80%;
}
#informacoes:hover {
    box-shadow: 0px 10px 40px 0px rgba(47,47,47,0.1);
    box-sizing: border-box;
}
.informacoes p {

    color: blue;
    font-size: 16px;
    background: #f7f7f7;
    margin: 10px auto;
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 30px;
}
.informacoes p:hover {

    -webkit-box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, 0.55);
    -moz-box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, 0.55);
    box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, 0.55);
    animation: shadow-pulse 1s infinite;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
}
